@font-face {
	font-family: 'Architects Daughter';
	src: url('/fonts/architect/ArchitectsDaughter-Regular.eot');
	src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'),
		url('/fonts/architect/ArchitectsDaughter-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/architect/ArchitectsDaughter-Regular.woff2') format('woff2'),
		url('/fonts/architect/ArchitectsDaughter-Regular.woff') format('woff'),
		url('/fonts/architect/ArchitectsDaughter-Regular.ttf') format('truetype'),
		url('/fonts/architect/ArchitectsDaughter-Regular.svg#ArchitectsDaughter-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bangers';
	src: url('/fonts/bangers/Bangers-Regular.eot');
	src: local('Bangers Regular'), local('Bangers-Regular'),
		url('/fonts/bangers/Bangers-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/bangers/Bangers-Regular.woff2') format('woff2'),
		url('/fonts/bangers/Bangers-Regular.woff') format('woff'),
		url('/fonts/bangers/Bangers-Regular.ttf') format('truetype'),
		url('/fonts/bangers/Bangers-Regular.svg#Bangers-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
